<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.UserMapper">
    <insert id="register">
--         自定义sql 语句插入到 数据库中
        insert into();
    </insert>
    <select id="find" resultType="com.pojo.User">
        select depid,depname from dep;
    </select>
   


</mapper>