<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- 核心是JDBC -->
<configuration>

    <settings>
        <!--设置日志-->
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>
<!--不需要配置jdbc的参数  sqlsession由Spring对象提供-->
    <!--    mp中的分页插件-->
    <plugins>
        <plugin interceptor="com.baomidou.mybatisplus.extension.plugins.PaginationInterceptor"></plugin>
    </plugins>

   <mappers>
       <mapper resource="com.mapper/UserMapper.xml"></mapper>
    </mappers>

</configuration>