body{
	font: 12px/1.5 Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5B8B体,sans-serif;
	width: 100%;
	background: #fff;
	margin-bottom: 0px !important;
}
a{
	text-decoration: none;
}
*{
	box-sizing: border-box;
}
#header{
	padding: 22px 0;
height: 88px;
}
.logo{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.logo h1{
	display: block;
float: left;
zoom: 1;
width: 110px;
height: 61px;
}
.logo .link{
	float: right;
line-height: 44px;
color: #666;
font-size: 12px;
text-decoration: none;
}
#content{
	width: 100%;
position: relative;	
}
.login-newbg{
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	width: 100%;
}
.login-adlink{
	width: 1200px;
margin: 0 auto;
position: relative;
z-index: 3;
}
.login-adlink a{
	display: block;
	position: absolute;
	width: 630px;
height: 440px;
top:80px;
left: 80px;
}
.content-layout{
	width: 1200px;
	height: 600px;
	overflow: hidden;
	position: relative;
	margin: 0px auto;
	z-index: 2;
}
.login-box-warp{
	position: absolute;
	top: 120px;
	right: 60px;
	width: 350px;
	height: 368px;
	box-sizing:border-box;
}
.login-box{
	min-height: 350px;
	margin: 0 auto;
	box-sizing: border-box;
color: #6c6c6c;
padding: 25px 25px 23px;
color: #6c6c6c;
background: #fff;
}
.login-box-warp .login-box{
	background-color: hsla(0,0%,100%,.9);
	position: relative;
}
#login{
	margin-bottom: 0;
	width: 100%;
}
#login .corner-icon-view {
    position: static;
}
.login-view-password .corner-icon-view, .login-view-sms .corner-icon-view {
    height: 0;
}
.corner-icon-view {
    position: relative;
    height: 44px;
    width: 100%;
    margin: 0 auto;
}
#login .corner-icon-view .login-tip {
    top: 5px;
    right: 58px;
}
.corner-icon-view .login-tip {
    position: absolute;
    top: 0;
    right: 45px;
    display: block;
}
#login .corner-icon-view .login-tip .poptip {
    border: 1px solid #f3d995;
    background: #fefcee;
}
.corner-icon-view .poptip {
    line-height: 16px;
    position: relative;
    z-index: 9999;
    background-color: #fefcee;
    border: 1px solid #ff9000;
    padding: 5px 10px;
}
.corner-icon-view .poptip .poptip-content {
    color: #ff9000;
    font-size: 12px;
    font-weight: 400;
}
.login-content{
	width: 100%;
	margin: 0 auto;
}
.nc-outer-box{
	padding-top: 2px;
}
.login-blocks{
	text-align: left;
margin-bottom: 20px;
margin-top: 4px;
margin: 8px 0;
}
.password-login-tab-item{
height: 18px;
line-height: 5px;
font-size: 16px;
color: #3c3c3c;
margin: 9px 10px 0 0;
font-weight: 700;
border-bottom: 2px solid #000;
display: inline-block;
}
.sms-login-tab-item{
	height: 18px;
line-height: 5px;
font-size: 16px;
color: #3c3c3c;
margin: 9px 10px 0 0;
font-weight: 700;
display: inline-block;	
}
.fm-field{
	position: relative;
margin-bottom: 20px;
font-size: 14px;
}
.fm-field .fm-text{
	border-color: #f1eeee;
	border: 1px solid #ccc;
	width: 255px;
	height: 42px;
	outline: none;
	font-size: 14px;
	padding-left: 8px;
}
.fm-button{
	background: #f40;
	border-color: #f40;
	font-size: 16px;
	border: 1px solid #ff9000;
	border-radius: 3px;
	font-size: 20px;
	height: 42px;
	line-height: 42px;
	outline: none;
	color: #fff;
	width: 100%;
	cursor: pointer;
	font: 100% Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5B8B体,sans-serif;
}
.login-blocks{
	text-align: left;
margin-top: 16px;
margin-bottom: 0;
margin: 8px 0;
}
.weibo-login{
	margin-left: 0;
}
.login-box a{
	color: #6c6c6c;
font-size: 12px;
}
.login-blocks a {
    display: inline-block;
    }
.login-links{
	text-align: right;
margin-top: 16px;
margin-bottom: 0;
}
.login-links a{
	display: inline-block;
margin-left: 10px;
}
